<footer class="site-footer">
      <p>&copy; 2026 MK Mavericks Futsal Club</p>

      <div class="social-links">
        <a href="https://x.com/MavericksFutsal" target="_blank">
          <img src="images/icons/x.svg" alt="Twitter" />
        </a>
        <span class="divider">|</span>

        <a href="https://www.instagram.com/mavericksfutsal/" target="_blank">
          <img src="images/icons/instagram.svg" alt="Instagram" />
        </a>
        <span class="divider">|</span>

        <a href="https://www.facebook.com/MavericksFutsal" target="_blank">
          <img src="images/icons/facebook.svg" alt="Facebook" />
        </a>
        <span class="divider">|</span>

        <a href="https://www.tiktok.com/@mkmavericksfutsal" target="_blank">
          <img src="images/icons/tiktok.svg" alt="TikTok" />
        </a>
        <span class="divider">|</span>

        <a href="https://www.youtube.com/@maverickssportsclub" target="_blank">
          <img src="images/icons/youtube.svg" alt="YouTube" />
        </a>
        <span class="divider">|</span>

        <a href="mailto:MKMavericksFutsal@gmail.com">
          <img src="images/icons/gmail.svg" alt="Email" />
        </a>
      </div>
    </footer>