<footer class="site-footer">
  <p>&copy; <span id="year"></span> MK Mavericks Sports Club</p>

  <div class="social-links">
    <a href="https://x.com/MavericksFutsal" target="_blank" rel="noopener noreferrer">
      <img src="images/icons/x.svg" alt="MK Mavericks on X" />
    </a>
    <span class="divider">|</span>

    <a href="https://www.instagram.com/mavericksfutsal/" target="_blank" rel="noopener noreferrer">
      <img src="images/icons/instagram.svg" alt="MK Mavericks on Instagram" />
    </a>
    <span class="divider">|</span>

    <a href="https://www.facebook.com/MavericksFutsal" target="_blank" rel="noopener noreferrer">
      <img src="images/icons/facebook.svg" alt="MK Mavericks on Facebook" />
    </a>
    <span class="divider">|</span>

    <a href="https://www.tiktok.com/@mkmavericksfutsal" target="_blank" rel="noopener noreferrer">
      <img src="images/icons/tiktok.svg" alt="MK Mavericks on TikTok" />
    </a>
    <span class="divider">|</span>

    <a href="https://www.youtube.com/@maverickssportsclub" target="_blank" rel="noopener noreferrer">
      <img src="images/icons/youtube.svg" alt="MK Mavericks on YouTube" />
    </a>
    <span class="divider">|</span>

    <a href="mailto:MKMavericksFutsal@gmail.com">
      <img src="images/icons/gmail.svg" alt="Email the club" />
    </a>
  </div>
</footer>
